{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Livraria TSMX</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet"
          href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="{% static '@govbr-ds/core/dist/core.css' %}"/>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
</head>
<body>
<nav class="br-skiplink"><a class="br-item" href="#main-content" accesskey="1">Ir para o conteúdo (1/4) <span
        class="br-tag text ml-1">1</span></a><a class="br-item" href="#header-navigation" accesskey="2">Ir para o
    menu (2/4) <span class="br-tag text ml-1">2</span></a><a class="br-item" href="#main-searchbox" accesskey="3">Ir
    para a busca (3/4) <span class="br-tag text ml-1">3</span></a><a class="br-item" href="#footer" accesskey="4">Ir
    para o rodapé (4/4) <span class="br-tag text ml-1">4</span></a>
</nav>
<header class="br-header mb-4" id="header" data-sticky="data-sticky">
    <div class="container-lg">
        <div class="header-top" style="display: flex; justify-content: space-between">
            <div class="header-logo"><a href="{% url 'livros' %}"><img
                    src="{% static 'img/tsmx_logo.jpeg' %}"
                    alt="logo"/></a><span class="br-divider vertical"></span>
            </div>
            <div class="header-info">
                <div class="header-title mt-1" style="font-size: large">Livraria TSMX</div>
            </div>
        </div>
        <div class="header-bottom" style="display: none">
            <div class="header-menu">
                <div class="header-menu-trigger" id="header-navigation">
                    <button class="" style="visibility: hidden" type="button" aria-label="Menu" data-toggle="menu"
                            data-target="#main-navigation" id="navigation">
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="d-flex flex-fill mb-5" id="main">
    <div class="container-lg d-flex">
        <div class="row col-lg-12">
            <div class="col mb-12">
                <div class="main-content pl-sm-12 mt-12" id="main-content">
                    <div class="row" style="padding-top: 2.5em">
                        <div class="col-lg-12 mt-6" style="display: flex; justify-content: center; align-items: center">
                            <div class="authentication-wrapper authentication-basic container-p-y col-lg-4 mt-6"
                                 style="text-align: center">
                                <div class="authentication-inner">
                                    <div class="br-card">
                                        <div class="card-header">
                                            <img width="55%"
                                                 src="{% static 'img/tsmx_logo.jpeg' %}"
                                                 alt="logo"/>
                                        </div>
                                        <form id="formAuthentication" class="mb-3" method="POST">{% csrf_token %}

                                            <div class="form-group row mt-3"
                                                 style="display: flex; justify-content: center">
                                                <i class="fas fa-solid fa-user"
                                                   style="display: flex; align-items: center"></i>
                                                <div class="br-input" style="width: 60%">
                                                    {% render_field form.username class="form-control" placeholder="Usuário" %}
                                                </div>

                                            </div>
                                            <div class="mb-3 form-password-toggle">
                                                <div class="form-group row"
                                                     style="display: flex; justify-content: center">
                                                    <i class="fas fa-solid fa-key"
                                                       style="display: flex; align-items: center"></i>
                                                    <div class="br-input" style="width: 60%">
                                                        {% render_field form.password class="form-control" placeholder="Senha" aria-describedby="password" %}
                                                    </div>
                                                </div>


                                                <button class="br-button mt-5 mb-2"
                                                        style="background-color: darkred; width: 70%; color: white"
                                                        type="submit">Entrar
                                                </button>

                                            </div>
                                            <div class="card-footer"
                                                 style="display: flex; justify-content: space-evenly">
                                            </div>

                                        </form>
                                        {% if form.errors %}
                                            {% for error in form.non_field_errors %}

                                                <div class="br-message danger" role="alert">
                                                    <div class="icon"><i class="fas fa-times-circle fa-lg"
                                                                         aria-hidden="true"></i>
                                                    </div>
                                                    <div class="content"><span
                                                            class="message-title">Erro no formulário.</span><span
                                                            class="message-body"> {{ error }}</span>
                                                    </div>
                                                    <div class="close">
                                                        <button class="br-button circle small" type="button"
                                                                aria-label="content"><i
                                                                class="fas fa-times" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

</main>
</div>
<script src="{% static '/@govbr-ds/core/dist/core-init.js' %}"></script>
</body>
</html>