{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Livraria TSMX</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet"
          href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
    <!-- Fonte Raleway-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="{% static '@govbr-ds/core/dist/core.css' %}"/>
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Georreferenciamento-->
    <link rel="stylesheet" href="{% static 'css/cart.css' %}"/>
    {% block css %}

    {% endblock %}
</head>
<body>
<div class="template-base">
    <header class="br-header mb-4" id="header" data-sticky="data-sticky">
        <div class="container-lg">
            <div class="header-top">
                <div class="header-logo">
                </div>
                <div class="header-actions">
                    {% if request.user.is_authenticated %}
                    <div class="header-login">
                        <div class="header-sign-in">
                            <a class="br-button secondary mr-3" type="button" href="{% url 'logout' %}"><i
                                    class="fas fa-user"
                                    aria-hidden="true"></i><span
                                    class="d-sm-inline">Sair</span>
                            </a>
                        </div>
                        <div class="header-avatar"></div>
                    </div>
                    {% else %}
                    <div class="header-login">
                        <div class="header-sign-in">
                            <a class="br-button secondary mr-3" type="button" href="{% url 'login' %}"><i
                                    class="fas fa-user"
                                    aria-hidden="true"></i><span
                                    class="d-sm-inline">Entrar</span>
                            </a>
                        </div>
                        <div class="header-avatar"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-menu">
                    <div class="header-menu-trigger" id="header-navigation">
                        <button class="br-button small circle" type="button" aria-label="Menu" data-toggle="menu"
                                data-target="#main-navigation" id="navigation"><i class="fas fa-bars"
                                                                                  aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header-info">
                        <div class="header-title">Livraria TSMX</div>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <div class="header-search">
                    <div class="header-sign m-2"><b>Usuário:</b> {{ request.user.nome }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="d-flex flex-fill mb-5" id="main">
        <div class="container-lg d-flex">
            <div class="row col-lg-12">
                <div class="br-menu push" id="main-navigation">
                    <div class="menu-container">
                        <div class="menu-panel">
                            <div class="menu-header">
                                <div class="menu-title"><img
                                        src="{% static 'img/tsmx_logo.jpeg' %}"
                                        alt="Imagem ilustrativa"/><span>Livraria TSMX</span></div>
                                <div class="menu-close">
                                    <button class="br-button circle" type="button" aria-label="Fechar o menu"
                                            data-dismiss="menu"><i class="fas fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <nav class="menu-body">
                                <ul>
                                    <li>
                                        <a class="menu-item" href="{% url 'livros' %}"><span class="icon"><i
                                                class="fas fa-book" aria-hidden="true"></i></span>
                                            <span class="content">Livros</span></a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="{% url 'compras_detail' %}"><span class="icon"><i
                                                class="fas fa-list-alt" aria-hidden="true"></i></span>
                                            <span class="content">Histórico de Compras</span></a>
                                    </li>
                                    <li>
                                        <a class="menu-item" href="{% url 'usuarios_add' %}"><span class="icon"><i
                                                class="fas fa-user-plus" aria-hidden="true"></i></span>
                                            <span class="content">Criar Usuário</span></a>
                                    </li>
                                </ul>

                            </nav>
                            <div class="menu-footer d-sm-none">
                                <div class="menu-info">
                                    <div class="text-center text-down-01">Todo o conteúdo deste site está publicado sob
                                        a licença <strong>Creative Commons Atribuição-Sem Derivações 3.0</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="main-content pl-sm-3 mt-4" id="main-content">
                        {% if not request.resolver_match.url_name == "carrinho" %}
                        <div class="cart" style="display: none" id="cart_teste">
                            <h3>Seu carrinho</h3>
                            <div id="cart-items">
                            </div>
                            <button id="finalizar-compra-btn" class="br-button primary active mr-3" type="button"
                                    onclick="finalizarCompra()">
                                Pagamento
                            </button>
                        </div>
                        {% endif %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="br-footer pt-3" id="footer">
        <div class="container-lg">
            <div class="info">
                <div class="text-down-01 text-medium pb-3">Texto destinado a exibição de informações relacionadas à&nbsp;<strong><a
                        href="">licença de uso</a>.</strong></div>
            </div>
        </div>
    </footer>
</div>
{% block script %}
{% endblock %}
<script>
    window.onload = function () {
        updateCartUI({{ request.session.cart|safe }});
    }

    function addToCart(livroId) {
        // Send AJAX request to add the book to the cart
        fetch('{% url "add_to_cart_ajax" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `livro_id=${livroId}&quantity=1`,  // Adjust quantity if needed
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const finalizarCompraBtn = document.getElementById('finalizar-compra-btn');
                    finalizarCompraBtn.disabled = false;  // Enable the button
                    updateCartUI(data.cart);
                }
            });
    }

    function updateCartUI(cart) {
        const cartItemsDiv = document.getElementById('cart-items');
        const cartdiv = document.getElementById('cart_teste');
        cartItemsDiv.innerHTML = '';

        Object.entries(cart).forEach(([item_id, item]) => {
            cartItemsDiv.innerHTML += `
            <div id="${item_id}">
                <p>${item.name} - R$${item.price}</p>
                <p>Quantidade: <span id="quantidade-${item_id}">${item.quantity}</span></p>
                <button class="br-button circle" type="button" onclick="removeFromCart('${item_id}')">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        `;
        });
        if (Object.keys(cart).length) {
            cartdiv.style.display = "block";
        }
    }
</script>
<script>
    function removeFromCart(livroId) {
        // Send AJAX request to remove the book from the cart
        fetch('{% url "remove_from_cart_ajax" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `livro_id=${livroId}`,
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === 'success') {
                    document.getElementById(`${livroId}`).remove();
                }
                const cartItemsDiv = document.getElementById('cart-items');
                const finalizarCompraBtn = document.getElementById('finalizar-compra-btn');
                const cartdiv = document.getElementById('cart_teste');

                // If no items are left in the cart, disable the "Finalizar Compra" button
                if (cartItemsDiv.children.length === 0) {
                    cartdiv.style.display = "none";
                }


            });
    }
</script>
<script>
    function finalizarCompra() {
        const cartItemsDiv = document.getElementById('cart-items');
        const cartItems = cartItemsDiv.children;
        let items = [];

        // Loop through each cart item to collect the necessary data
        for (let i = 0; i < cartItems.length; i++) {
            const cartItem = cartItems[i];
            console.log(cartItems[i]);
            const livroId = cartItem.getAttribute('id');
            const quantidade = document.getElementById(`quantidade-${livroId}`).innerHTML;
            if (livroId && quantidade) {
                items.push([livroId, quantidade]);
                console.log(items);
            }
        }

        // Prepare the data to be sent to the server
        const data = new URLSearchParams();
        data.append('items', JSON.stringify(items));  // Convert array to JSON string

        // Send AJAX request to the server to handle the finalization of the purchase
        fetch('{% url "finalizar_compra_url" %}', {  // Replace with your actual URL name
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: data.toString()
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.href = '{% url "carrinho" %}';
                } else {
                    // Handle errors if the purchase failed
                    console.error('Purchase failed:', data);
                }
            })
            .catch(error => {
                console.error('Error in AJAX request:', error);
            });
    }
</script>
<script src="{% static '/@govbr-ds/core/dist/core-init.js' %}"></script>
<script src="{% static '/@govbr-ds/core/dist/core.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
