{% extends 'base-interno.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/table.css' %}"/>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="br-card ">
            <div class="card-header">
                <div class="d-flex"><span class="br-avatar mt-1">
                        <div class="ml-6">
                            <div class="text-weight-semi-bold text-up-02">CARRINHO</div>
                        </div>
                </div>
            </div>
            <form method="POST" action="{% url 'pagamento' %}">
                {% csrf_token %}
            <div class="card-content ml-6 mr-6">
                <div class="col-sm-12 mt-6">
                    <div class="br-table">
                        <div class="table-header">
                        </div>
                        <table id="table">
                            <caption>CARRINHO</caption>
                            <thead>
                            <tr>
                                <th scope="col" class="table-head">Quantidade</th>
                                <th scope="col" class="table-head">Livro</th>
                                <th scope="col" class="table-head">Valor Unitário</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for livro in livros %}
                            <tr>

                                <td data-th="quantidade"> {{ livro.quantidade }}</td>
                                <input type="hidden" name="quantidade" value="{{ livro.quantidade }}">
                                <td data-th="nome">{{ livro.nome }}</td>
                                <input type="hidden" name="nome" value="{{ livro.nome }}">
                                <td data-th="preco">{{ livro.preco }}</td>
                                <input type="hidden" name="preco" value="{{ livro.preco }}">

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="table-footer">
                            <button type="submit" class="br-button primary">Finalizar Compra</button>
                            {% if is_paginated %}
                            <nav class="br-pagination" aria-label="Paginação de resultados">
                                <div class="pagination-arrows ml-auto ml-sm-0">
                                    {% if page_obj.has_previous %}

                                    <a class="br-button circle"
                                       href="?page={{ page_obj.previous_page_number }}&estado={{ request.GET.estado }}&municipio={{ request.GET.municipio }}&cpf={{ request.GET.cpf }}"
                                       aria-label="Voltar página">
                                        <i class="fas fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}
                                    <div class="pagination-information d-none d-sm-flex"><span
                                            class="current">{{ page_obj.number }}</span><span
                                            class="per-page"></span>&nbsp;de&nbsp;<span
                                            class="total">{{ paginator.num_pages }}</span>&nbsp;páginas
                                    </div>
                                    {% if page_obj.has_next %}
                                    <a class="br-button circle"
                                       href="?page={{ page_obj.next_page_number }}&estado={{ request.GET.estado }}&municipio={{ request.GET.municipio }}&cpf={{ request.GET.cpf }}"
                                       aria-label="Avançar página">
                                        <i class="fas fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/gerenciamento_select2.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_cpf').mask('000.000.000-00', {reverse: true});
    });
    document.getElementById("id_estado").required = false;
    document.getElementById("id_municipio").required = false;
</script>
{% endblock %}